// table styles

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: $base-line-height;
  max-width: 100%;
  width: 100%;
}

table th,
table td {
  padding: 1.5em 1.5em 1.5em 0em;
  line-height: $base-line-height;
  text-align: left;
  vertical-align: top;
}

table th {
  border-bottom: 0;
  font-weight: bold;
}

tbody {
  border-top: 0;
  tr {
		background-image: url('../images/lh-line.png');
		background-repeat: repeat-x;
		background-position: top left;
  	&:first-child {
	  	background: none;
  	}
  	p {
	  	&:last-child {
		  	margin-bottom: 0;
	  	}
  	}
  }
}

table thead th {
  vertical-align: bottom;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: transparent;
}

table tbody > tr:nth-child(even) > td,
table tbody > tr:nth-child(even) > th {
  background-color: transparent;
}
